input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none; margin: 0;
   }
 input[type=number] {
    -moz-appearance:textfield;
   }

.form{
  background-color: #f5efe0;
  height: 20em;

}

.sellerForm {
  background-color: #f5efe0;

}
.fecha-alta {  
  font-weight: bold;
  font-size: 0.8rem;
    }
.contacto p {
  font-size: 1.2rem;
  margin: 0;
  }
/* .list-group-item:hover {
  background: white;
  } */
form {
border-radius: 1rem;
}
.saleCard {
  overflow: hidden;
  /* height: 450px; */
}