/* Set a fixed scrollable wrapper */
.tableWrap {
    height: 75vh;
    border: 2px solid black;
    overflow: auto;
}

.tableWrap thead tr th {
position: sticky;
top: 0;
}

.tableWrap th {
padding: 16px;
padding-left: 15px;
border-left: 1px dotted rgba(200, 209, 224, 0.6);
border-bottom: 1px solid #e8e8e8;
text-align: left;
box-shadow: 0px 0px 0 2px #e8e8e8;
}
.tableWrap  table {
width: 100%;
font-family: sans-serif;
}
.tableWrap  table td {
padding: 16px;
}
.tableWrap  tbody tr {
border-bottom: 2px solid #e8e8e8;
}
.tableWrap  thead {
font-weight: 500;
color: rgba(0, 0, 0, 0.85);
}
.tableWrap tbody tr:hover {
background: #e6f7ff;
}
